<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>350952942983-48lis9mbeudskd9rovrnov5gm35h0vre.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.350952942983-48lis9mbeudskd9rovrnov5gm35h0vre</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>350952942983-6h4a30scu81ra204ndpe1md2sccukrhv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA6pdGUaTCqAy2q6LihzWnLM1AE2il73L4</string>
	<key>GCM_SENDER_ID</key>
	<string>350952942983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.routine.note</string>
	<key>PROJECT_ID</key>
	<string>groutine-21c1b</string>
	<key>STORAGE_BUCKET</key>
	<string>groutine-21c1b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:350952942983:ios:9a039b621b671edb977722</string>
	<key>DATABASE_URL</key>
	<string>https://groutine-21c1b.firebaseio.com</string>
</dict>
</plist>