/* 
.v-app {
  padding-top: env(safe-area-inset-top, 44px) !important;
  padding-bottom: env(safe-area-inset-bottom, 34px) !important;
}

.v-toolbar {
  padding-top: env(safe-area-inset-top, 44px) !important;
  height: calc(64px + env(safe-area-inset-top, 44px)) !important;
}

.v-bottom-nav {
  padding-bottom: env(safe-area-inset-bottom, 34px) !important;
  height: calc(64px + env(safe-area-inset-bottom, 34px)) !important;
}

.v-content {
  padding-top: calc(64px + env(safe-area-inset-top, 44px)) !important;
  padding-bottom: calc(64px + env(safe-area-inset-bottom, 34px)) !important;
}

.login {
  padding-top: env(safe-area-inset-top, 44px) !important;
  padding-bottom: env(safe-area-inset-bottom, 34px) !important;
}

.login footer {
  bottom: env(safe-area-inset-bottom, 34px) !important;
} */
