/* iOS Safe Area Global Styles */
 .v-toolbar {
  margin-top:40px!important;
  padding-top: env(safe-area-inset-top) !important;
  height: calc(64px + env(safe-area-inset-top)) !important;
}

.item-group.v-bottom-nav--fixed{
  height:75px!important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  height: calc(64px + env(safe-area-inset-bottom)) !important;
}

.v-content {
  padding: 100px 0px 0px!important;
 
}

.container-box {
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}


body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full viewport height */

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);


  }


    @media (max-width: 600px) {
    .v-toolbar, .v-item-group {
      padding-top: env(safe-area-inset-top); /* Add top padding for iPhone notch */
       padding-bottom: env(safe-area-inset-bottom);
      /* margin-bottom: env(safe-area-inset-bottom); ; */
    }
    .v-item-group{
         /* sheight: 120px!important; */
    }
  }

  /* @media (max-width: 600px) { */
    .v-toolbar, .v-item-group{
      padding-top: env(safe-area-inset-top); /* Add top padding for iPhone notch */
       padding-bottom: env(safe-area-inset-bottom);
      /* margin-bottom: env(safe-area-inset-bottom); ; */
    }
    /* .v-item-group{
         padding-bottom: 30px!important;
         height: 140px!important;
    } */
  /* } */


  html, body {
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

/* .v-app {
  padding-top: env(safe-area-inset-top) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
}

.v-toolbar {
  margin-top: env(safe-area-inset-top) !important;
}

.v-bottom-nav {
  padding-bottom: env(safe-area-inset-bottom) !important;
  height: calc(64px + env(safe-area-inset-bottom)) !important;
} */

.header{
 padding-top:40px !important;
}